<app-navbar></app-navbar>
<div class="wrapper">
  <h1>How To Play</h1>
  <mat-vertical-stepper>
    <mat-step label="Register or Sign Up">
      <img src="../../../assets/media/login.gif" alt="" height="400px" width="400px">
    </mat-step>
    <mat-step label="Play chess against people or engine">
      <img src="../../../assets/media/choose.gif" alt="" height="400px" width="400px">
    </mat-step>
    <mat-step label="Invite people to play chess and earn raiting">
      <img src="../../../assets/media/choose-people.gif" alt="" height="400px" width="700px">
    </mat-step>
  </mat-vertical-stepper>
  <a routerLink="/" mat-raised-button color="accent">Go To The Playroom</a>
</div>